body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.siteheader {
  padding: 1rem;
}

.siteheader h1 {
  margin: 0;
  font-size: 3rem;
}

main {
  padding: 0 0.3rem 1rem;
}

/* GRID LAYOUT */
.emojis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* CARD STYLING */
.emoji {
  border: 1px solid #222;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f2f2f2;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
}

/* ORDER OF CONTENT */
.emoji .icon {
  order: -1;
  align-self: center;
  margin-bottom: 0.5rem;
}

.emoji h2 {
  margin: 0;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.emoji p {
  line-height: 1.3;
}

.emoji a {
  text-decoration: none;
  background-color: #781BAA;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;

  /* Push button to bottom */
  margin-top: auto;
}

.icon {
  font-size: 4rem;
}
